<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>省高院召开司法体制改革全面试点动员会 - 河南省高级人民法院</title>
<link href="../images/2015_css.css" rel="stylesheet" type="text/css" />
<link href="../images/reset.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--html_header.php-->
	<div class="header">
		<div class="rt_sd fr">
			<div class="xmt fl">
				<span class="fl gz">关注：</span> <a class="fl sina"
					href="http://t.people.com.cn/hnfyMain.action" target="_blank"
					alt="河南省高级人民法院人民微博" title="河南省高级人民法院人民微博"></a> <a
					class="fl tencent"
					href="http://z.t.qq.com/zt2011/hnfywbquan/index.htm?ADUIN=372308503&ADSESSION=1328054063&ADTAG=CLIENT.QQ.3847_ADClick_0.0"
					target="_blank" alt="河南省高级人民法院腾讯微博" title="河南省高级人民法院腾讯微博"></a> <a
					class="fl people" href="http://focus.weibo.com/pub/i/zt/hnfy"
					target="_blank" alt="河南省高级人民法院新浪微博" title="河南省高级人民法院新浪微博"></a> <a
					class="fl xinhua"
					href="http://www.xinhuanet.com/forum/zt2013/yfyg/index.html"
					target="_blank" alt="河南省高级人民法院新华微博" title="河南省高级人民法院新华微博"></a> <a
					class="fl wechat" href="javascript:;" alt="河南省高级官方微信"
					title="河南省高级官方微信"><i></i></a> <span class="fl app"><a
					target="_blank" style="display: block; height: 36px;" href="/app/"
					title="手机客户端下载页面">手机客户端</a></span> <a class="fl ios" href="javascript:;"
					alt="ios版手机客户端" title="ios版手机客户端"><i></i></a> <a class="fl android"
					href="javascript:;" alt="android版手机客户端" title="android版手机客户端"><i></i></a>
			</div>
		</div>
	</div>
	<div class="nav">
		<div id="container">
			<div>
				<ul>
					<li class="home"><a href="/">首页</a></li>
					<li><a href="/public/index.php?LocationID=0100000000">机构设置</a></li>
					<li><a href="/public/index.php?LocationID=0200000000">新闻中心</a></li>
					<li><a href="/public/index.php?LocationID=0300000000">院长论坛</a></li>
					<li><a href="/public/index.php?LocationID=0800000000">诉讼指南</a></li>
					<li><a href="/public/index.php?LocationID=1300000000">法院建设</a></li>
					<li><a href="/public/index.php?LocationID=1200000000">案件时空</a></li>
					<li><a href="/public/index.php?LocationID=4200000000">审判研究</a></li>
					<li><a href="/public/index.php?LocationID=1500000000">法苑文化</a></li>
					<li><a href="/public/index.php?LocationID=1600000000">法律法规</a></li>
					<li><a href="/public/index.php?LocationID=0900000000">网站公告</a></li>
					<li><a href="/public/index.php?LocationID=1000000000">开庭公告</a></li>
					<li><a href="/public/index.php?LocationID=1700000000">法律援助</a></li>
					<li><a href="/public/index.php?LocationID=1800000000">网友法苑</a></li>
					<li><a href="/public/index.php?LocationID=1900000000">法院新貌</a></li>
					<li><a href="/public/index.php?LocationID=2100000000">热点话题</a></li>
					<li><a href="/public/index.php?LocationID=2200000000">执行看点</a></li>
					<li><a href="/public/index.php?LocationID=2400000000">河南高院在《人民法院报》</a></li>
					<li><a href="/public/index.php?LocationID=2700000000">新闻发布厅</a></li>
					<li><a href="/public/index.php?LocationID=2900000000">视频</a></li>
					<li><a href="/public/index.php?LocationID=3000000000">十佳评选</a></li>
					<li><a href="/public/index.php?LocationID=3100000000">社会法庭</a></li>
					<li><a href="/public/index.php?LocationID=3200000000">人民陪审</a></li>
					<li><a href="/public/index.php?LocationID=3300000000">代表之窗</a></li>
					<li><a href="/public/index.php?LocationID=3700000000">党建工作</a></li>
					<li><a href="/public/index.php?LocationID=3500000000">公民与法</a></li>
					<li><a href="/public/index.php?LocationID=3600000000">专题文章</a></li>
					<li><a href="/public/index.php?LocationID=3800000000">法警园地</a></li>
					<li><a href="/public/index.php?LocationID=3900000000">河南法官进修学院</a></li>
					<li><a href="/public/index.php?LocationID=4100000000">减刑假释案件公示</a></li>
					<li><a
						href="http://ws.hncourt.gov.cn/index.php?act=area&court_id=17"
						target="_blank">裁判文书</a></li>
					<li><a href="http://lawdb.cncourt.org" target="_blank">法律文库</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div style="width: 1004px; margin: auto">
		<table width="1004" border="0" align="center" cellpadding="0"
			cellspacing="0" bgcolor="#FFFFFF" class="br_3">
			<tr>
				<td valign="top" bgcolor="#FFFFFF"><br />
					<div style="width: 96%; margin: auto">
						<table width="96%" border="0" align="center" cellpadding="0"
							cellspacing="0">
							<tr>
								<td height="20" class="navibar">当前位置： <a
									href="/public/index.php?LocationID=0200000000">新闻中心</a> -> <a
									href="/public/index.php?LocationID=0201000000">法院新闻</a>
								</td>
							</tr>
							<tr>
								<td valign="bottom">&nbsp;</td>
							</tr>
						</table>
					</div>
					<div style="width: 800px; margin: auto">
						<table width="800" border="0" align="center" cellpadding="0"
							cellspacing="0">
							<tr>
								<td class="detail_content">
									<style>
									.p {
										text-indent: 2em
									}
									</style>
									<table width="90%" align="center" class='article_content'>
										<tr>
											<td><p align=center id="hztitle">
													<font size='5' style="LINE-HEIGHT: 150%"><b>省高院召开司法体制改革全面试点动员会</b></font>
												</p>
												<p align=center>
													<p align=center>
														<span class="article_author">作者：马献钊 孙建华/文 张凯甲/图</span> <span
															class="article_time">发布时间：2016-09-27 16:39:55</span>
													</p>
													<p align=center>
														<hr class="article_hr" noshade size="1">
													</P>
													<p align=center>
														<img src="/public/showimage.php?id=68051" align="center"><br>
														<font style="line-height: 180%;">全省法院司法体制改革全面试点动员电视电话会议</font>
													</p>
													<p align=center>
														<img src="/public/showimage.php?id=68052" align="center"><br>
														<font style="line-height: 180%;">河南高院党组书记、院长张立勇讲话</font>
													</p>
													<p align=center>
														<img src="/public/showimage.php?id=68053" align="center"><br>
														<font style="line-height: 180%;">省委政法委常务副书记李承先讲话</font>
													</p>
													<p align=center>
														<img src="/public/showimage.php?id=68054" align="center"><br>
														<font style="line-height: 180%;">会议现场</font>
													</p>
													<span class="detail_content"><p class="p">9月27日上午，河南省高级人民法院召开全省法院司法体制改革全面试点动员电视电话会议，对全省法院全面推开以司法责任制、法官员额制为重点的司法体制改革进行安排部署。省高院党组书记、院长张立勇出席会议并作重要讲话。省委政法委常务副书记李承先，省人大内务司法委员会主任委员张国臣应邀出席会议。在郑的省高院党组成员参加会议。</p>
														<p class="p">会议传达学习了全国司法体制改革推进会、全国高级法院院长座谈会精神，宣读了《河南法院司法体制改革试点实施方案》，对安阳、许昌首批试点工作进行了总结，对下一步全面推进改革试点作了安排部署。</p>
														<p class="p">李承先副书记充分肯定了全省司法体制改革首批试点工作取得的成效，就全面推进司法体制改革试点工作提出要求:牢牢把握改革正确方向，全面贯彻中央和省委改革部署，统筹推进其他关联性改革事项，切实加强对改革试点工作的组织领导，确保改革试点工作取得实效。</p>
														<p class="p">张立勇院长指出，要认真学习中央、省委、最高法院司法体制改革政策精神，全面贯彻全国司法体制改革推进会精神，深刻把握全面推进司法体制改革的重大意义。全省各级法院面对新形势、新要求，一要统一思想，凝聚共识，把全面推进司法体制改革当作当前全省法院的首要政治任务。二要突出核心，把握关键，确保司法责任制改革落到实处。注意把握好放权与监督的关系、依法接受监督与抵制不当干预的关系、追究审判责任与强化职业保障的辩证关系，遵循司法亲历性和权责一致性规律，确保“让审理者裁判、由裁判者负责”。
															三要抓住重点，创新方法，积极稳妥推进法官员额制改革。务必做好全省范围法官员额测算工作，做好法官员额内部配置工作，严格领导干部的入额标准和程序，做好考试考核工作，妥善做好人员转岗分流，实现各类人员各尽其能。四要统筹兼顾，科学实施，同步推进其他相关改革。完善法官和其他人员业绩考核评价机制，积极探索审判辅助人员制度改革。</p>
														<p class="p">张立勇院长强调，各级法院要坚持不忘初心、继续前进，始终坚持在各级党委的正确领导下，在各级人大的监督下，积极争取政府及社会各界的支持，发挥法院和法官主体作用，加强组织领导，严肃改革纪律，确保各项改革措施落地生根，坚决打赢司法改革攻坚战。</p>
														<p class="p">动员会上，安阳、许昌中院院长介绍了首批试点工作经验。全省三级法院全体干警参加会议。</p>
														<p></p></span></td>
										</tr>
									</table> <br />
								</td>
							</tr>
						</table>
					</div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p align="center">
						<font color="#0099FF">〖</font><a href="javascript:window.close()">关闭窗口</a><font
							color="#0099FF">〗</font>
					</p>
					</p></td>
			</tr>
			<tr>
				<td bgcolor="#F3F3F3"></td>
			</tr>
		</table>
	</div>
	<div class="links">
		<a href="http://www.court.gov.cn" target="_blank">最高人民法院</a> <a
			href="http://www.people.com.cn/" target="_blank">人民网</a> <a
			href="http://www.xinhuanet.com" target="_blank">新华网</a> <a
			href="http://www.chinacourt.org" target="_blank">中国法院网</a> <a
			href="http://rmfyb.chinacourt.org" target="_blank">人民法院报</a> <a
			href="/share/gozgcpwsw.php" target="_blank">中国裁判文书网</a> <a
			href="http://www.dyzxw.org" target="_blank">法律资讯网</a> <a
			href="http://court.gmw.cn/" target="_blank">光明网法院频道</a> <a
			href="http://www.henan.gov.cn" target="_blank">河南省人民政府网</a> <a
			href="http://www.dahe.cn" target="_blank">大河网</a> <a
			href="http://www.shangdu.com" target="_blank">商都网</a> <a
			href="http://www.ecupl.edu.cn/" target="_blank">华东政法大学</a>
	</div>
	<div class="footer">
		<script type="text/javascript">
			document
					.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/17/000/0000/40668702/CA170000000406687020008.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<br />
		<div align="center" class="td_counter">
			您是第 <b>41636037</b> 位访客
		</div>
		地址：郑州市金水路东段282号 邮编：450008 <br />河南省高级人民法院政务网站 <a
			href="http://www.miibeian.gov.cn" target="_blank">豫ICP备12000402号-1</a>
		<br />河南省高级人民法院版权所有 Copyright&copy;2016 All right reserved
	</div>
</body>
</html>